{% extends 'layout.html' %}
{% block body %}
<form action="{{url_for('song_user_age_range')}}" method="post">
    <div class="menu_search" style="background-color: #FDF6E3">
        <input type="text" style="color: #fff" placeholder="探索歌曲" autofocus="" id="inpSearch" class="search_inp" name="id" />
        <input type="submit" value="搜索" id="seaSearch" class="search_sea" />
    </div>
</form>
<div id="item" class="main_container">
</div>
<script type="text/javascript">
$(document).ready(function() {
    var myChart = echarts.init(document.getElementById('item'));
    var data = {{ statics | tojson }};
    option = {
        backgroundColor: '#FDF6E3',
        title: {
            text: '歌曲《{{statics['name']}}》评论的用户年龄分布',
            subtext: '来源网易云音乐',
            x: 'center',
            textStyle: {
                color: '#FCB551'
            }
        },
        tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        legend: {
            orient: 'vertical',
            left: 'left',
            data: ['0至10岁', '10至18岁', '18至25岁', '25至40岁', '40至60岁', '60岁以上']
        },
        series: [{
            name: '访问来源',
            type: 'pie',
            radius: '55%',
            center: ['50%', '60%'],
            data: [
                { value: data['0~10'], name: '0至10岁' },
                { value: data['10~17'], name: '10至18岁' },
                { value: data['18~25'], name: '18至25岁' },
                { value: data['26~40'], name: '25至40岁' },
                { value: data['40~59'], name: '40至60岁' },
                { value: data['60~'], name: '60岁以上' }
            ],
            itemStyle: {
                emphasis: {
                    shadowBlur: 10,
                    shadowOffsetX: 0,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            }
        }]
    };
    if(data['0~10']>0 || data['10~17']>0 || data['18~25']>0||data['26~40']>0||data['40~59']>0||data['60~']>0){
        myChart.setOption(option);
    }
})
// 基于准备好的dom，初始化echarts实例
</script>
{% endblock %}